/* 
    Document   : main
    Created on : 15-jun-2010, 18:04:30
    Author     : Erik van de Pol
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

html {
    width: 100%;
    height: 100%;
}

body {
    font-size: 10px;
    line-height:1.125em;
    width: 100%;
    height: 100%;
    overflow: auto;
}

/* nodig voor IE 7 (en lager?) */
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.6em;
}
h3 {
    font-size: 1.2em;
}

.header {
    background-image: url(../images/bovenbalk.gif); 
    background-repeat: repeat-x;
}

.footer {
    background-image: url(../images/onderbalk.gif);
    background-repeat: repeat-x;
}

.west {
    background-image: url(../images/leftbg.gif);
    background-repeat: repeat-y;
}

.east {
    background-image: url(../images/rightbg.gif);
    background-repeat: repeat-y;
}

/*.logo {
    background-image: url(../images/datastorelinkerlogo.png);
    background-repeat: no-repeat;
    margin-left: 50px;
    height: 50px;
}*/

.footer-text {
    color: #7891A5;
    font-size: 11px;
}

#footer-text-left {
    left: 50px;
    position: absolute;
    top: 18px;
}

.login {
    font-size: 1.5em;
    padding: 0.5em;
}

.message {
    margin-bottom: 1em;
    padding: 0.5em;
}

.ui-progressbar {
    position: relative;
}

.progressbarLabel {
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 1.9em;
    color: silver;
    font-weight: bold;
}

/*.overview-hover {
    cursor: hand;
    cursor: pointer;
}*/

.process-status-image {
    float: right;
}

.ui-dialog-content {
    width: 100%;
}

/* jquery ui override: veranderen na (elke) theme verandering */
.ui-state-active/*, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active*/ {
    border: 1px solid #196299;
    background: #f7f7f7 url(images/ui-bg_flat_100_f7f7f7_40x100.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #196299;
}

#uploaderBody, #uploaderQueue * {
    width: auto;
}

#uploaderQueue {
    width: auto;
    height: auto;
    overflow: visible;
    padding: 0;
    margin-bottom: 1em;
}

#uploaderStop {
    float: right;
}