/*
    Document   : extra
    Created on : 7-mei-2010, 18:17:45
    Author     : Erik van de Pol
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.step {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.radioList {
    height: 100%;
    overflow: auto;
    margin: 10px 0 10px 0;
    /*position: relative;  to prevent IE <= 7 bug */
}

.clickable-list {
    cursor: pointer;
}

.radioList .ui-button {
    margin: 3px;
    display: block;
    text-align: left;
    background: #eeeeee;
    color: black;
    
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.radioList .ui-state-hover {
    background: white;
}

.radioList .ui-state-active {
    background: #fed204;
}

.crudButtonsArea {
    margin-top: 20px;
    margin-bottom: 20px;
    /*width: 100%;*/
}

.crudButtonsArea input[type=radio] {
    border: 0px solid #fff;
}

.wizardButtonsArea {
    text-align: right;
    border-top: 1px solid #fed204;
    padding-top: 10px;
    /*height: 100px;*/
}

/* from jquery-ui css: .ui-dialog .ui-dialog-buttonpane button */
/*.wizardButtonsArea input, .wizardButtonsArea button {
    margin: 0.5em 0.4em 0.5em 0;
    padding: 0.2em 0.6em 0.3em;
    line-height: 1.4em;
}*/