/* 
    Document   : main
    Created on : 15-jun-2010, 18:04:30
    Author     : Erik van de Pol
    Description:
        Purpose of the stylesheet follows.
*/

html, body, #wrapperclass {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: $basefont-size;
    font-family: $basefont-family;
    line-height: $basefont-line-height;
    color: $basefont-color;

    background-color: $background-color;
    background-image: $background-image;
    background-repeat: $background-image-repeat;
}

h1, h2, h3 {
    font-family: $h-font-family;
    line-height: $h-line-height;
    font-size: $h1-font-size;
    font-weight: $h-font-weight;
}
h2 {
    font-size: $h2-font-size;
}
h3 {
    font-size: $h3-font-size;
}

#wrapperclass {
    overflow: auto;

    background-image: $header-background-image; 
    background-position: $header-background-image-position;
    background-repeat: $header-background-image-repeat;
}

.header {

    .header_logo {
        background-image: $header-image;
        background-position: $header-image-position;
        background-repeat: $header-image-repeat;
        width: 100%;
        height: 100%;
    }

    #topmenu {
        float: $menu-float;
        margin-top: $menu-margin-top;
        margin-right: $east-width;
    }

    a.menulink {
        @include menuitem($menu-border-color, $menu-text-color);
        display: block;
        padding: $menulink-padding;
        height: $menulink-height;
        float: right;
        background-color: $menu-background-color;
        font-weight: $menufont-weight;
        font-family: $menufont-family;
        font-size: $menufont-size;
        text-decoration: $menufont-decoration;
    }
}

.west {
    background-image: $west-background-image;
    background-repeat: repeat-y;
}

.east {
    background-image: $east-background-image;
    background-repeat: repeat-y;
}

.ui-layout-north {
    height: $header-height;
}

.ui-layout-west {
    width: $west-width;
    visibility: none;
}

.ui-layout-east {
    width: $east-width;
    visibility: none;
}

.ui-layout-south {
    height: $footer-height;
}

#content {
    border: none;
    padding: 10px;
    background: $jqui-content-bgcolor;
}

#footer {
    background-image: $footer-background-image;
    background-repeat: $footer-background-image-repeat;
    height: $footer-height;
    width: $content-width;
}

#footer_content {
    background-image: $footer-image;
    background-repeat: $footer-image-repeat;
    width: $content-width;
    height: $footer-height;
    text-align: left;
}

.footer_tekst {
    color: #7891A5;
}

.footer_tekst a.gpl_link{
    color: #7891A5;
    text-decoration: underline;
}

#footer_tekst_links {
    margin-top: $footer-text-margin;
    float: left;
    margin-left: $west-width;
}

#footer_tekst_rechts {
    margin-top: $footer-text-margin;
    float: right;
    margin-right: $east-width;
}

#footer-text-left {
    position: absolute;
    left: 50px;
    top: 18px;
}

.login {
    font-size: 1.5em;
    padding: 0.5em;
}

.login-field {
    width: 200px;
}

.message {
    margin-bottom: 1em;
    padding: 0.5em;
}

.ui-progressbar {
    position: relative;
}

.progressbarLabel {
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 1.9em;
    color: silver;
    font-weight: bold;
}

.process-status-image {
    float: right;
}

.ui-dialog-content {
    width: 100%;
}

#uploaderBody, #uploaderQueue * {
    width: auto;
}

#uploaderQueue {
    width: auto;
    height: auto;
    overflow: visible;
    padding: 0;
    margin-bottom: 1em;
}

#uploaderStop {
    float: right;
}

#cronAccordion form, #cronAccordion table {
    margin: 0;
    padding: 0;
}

#cronAccordion .ui-accordion-content {
    overflow: hidden;
}

#parameterForm .ui-button .ui-button-text {
    padding: 0.07em;
}

.ui-autocomplete {
    -moz-border-radius-topleft: 0px; -webkit-border-top-left-radius: 0px; border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; border-top-right-radius: 0px;
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 100px;
}

.titleContainer {
    font-weight: bold;
}

.colsContainer {
    margin-top: 1em;
}

UL.jqueryFileTree A.adminPage {
    cursor: default;
}

UL.jqueryFileTree A.adminPage:hover {
	background: transparent;
}

.verplichteInvoer {
    color: red;
}