<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <display-name>Stripes Filter</display-name>
        <filter-name>StripesFilter</filter-name>
        <filter-class>net.sourceforge.stripes.controller.StripesFilter</filter-class>
        <init-param>
            <param-name>ActionResolver.Packages</param-name>
            <param-value>nl.b3p.datastorelinker.gui.stripes</param-value>
        </init-param>
        <init-param>
            <param-name>Extension.Packages</param-name>
            <param-value>nl.b3p.commons.stripes</param-value>
        </init-param>
        <init-param>
            <param-name>MultipartWrapper.Class</param-name>
            <!--param-value>net.sourceforge.stripes.controller.multipart.CommonsMultipartWrapper</param-value-->
            <param-value>nl.b3p.datastorelinker.uploadprogress.ProgressMultipartWrapper</param-value>
        </init-param>
        <init-param>
            <param-name>FileUpload.MaximumPostSize</param-name>
            <param-value>500m</param-value>
        </init-param>
        <init-param>
            <param-name>LocalePicker.Locales</param-name>
            <param-value>en, en_US, nl_NL, nl</param-value>
        </init-param>
    </filter>
    <filter>
        <display-name>Security Filter</display-name>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>org.securityfilter.filter.SecurityFilter</filter-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/securityfilter-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>validate</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
	<filter>
		<filter-name>Request encoding filter</filter-name>
		<filter-class>nl.b3p.commons.services.SetRequestEncodingFilter</filter-class>
		<init-param>
			<param-name>requestEncoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
    <filter-mapping>
        <filter-name>StripesFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StripesFilter</filter-name>
        <servlet-name>StripesDispatcher</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	<filter-mapping>
		<filter-name>Request encoding filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
    <servlet>
        <servlet-name>StripesDispatcher</servlet-name>
        <servlet-class>net.sourceforge.stripes.controller.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>JpaUtilServlet</servlet-name>
        <servlet-class>nl.b3p.commons.jpa.JpaUtilServlet</servlet-class>
        <init-param>
            <param-name>initialize-persistence-units</param-name>
            <param-value>DataStoreLinkerGuiPU</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    
    <servlet>
            <servlet-name>PublishProcessServlet</servlet-name>
            <servlet-class>nl.b3p.datastorelinker.services.PublishProcessServlet</servlet-class>
            <init-param>
                <param-name>outputDatabase</param-name>
                <param-value>gisdata_extern</param-value>
            </init-param>    
            <init-param>
                <param-name>uploadFolder</param-name>
                <param-value>/mnt/tera1/tmp/DSLtest</param-value>
            </init-param>
            <load-on-startup>4</load-on-startup>
        </servlet>    
        <servlet-mapping>
            <servlet-name>PublishProcessServlet</servlet-name>
            <url-pattern>/publish/*</url-pattern>
        </servlet-mapping>
    
    <servlet>
        <servlet-name>securityconfig</servlet-name>
        <servlet-class>nl.b3p.datastorelinker.security.ConfigServlet</servlet-class>
        <init-param>
            <param-name>kburl</param-name>
            <param-value>http://solparc.kaartenbalie.nl/kaartenbalie/services/</param-value>
        </init-param>
        <init-param>
            <param-name>anonymous_user</param-name>
            <param-value>anoniem</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>xmlsecuritydatabase</servlet-name>
        <servlet-class>nl.b3p.commons.security.XmlSecurityDatabase</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/users.xml</param-value>
        </init-param>
        <load-on-startup>4</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>StripesDispatcher</servlet-name>
        <url-pattern>*.action</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>600</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>org.quartz.ee.servlet.QuartzInitializerListener</listener-class>
    </listener>
    <listener>
        <listener-class>nl.b3p.gis.geotools.GeoToolsLoggingInitializer</listener-class>
    </listener>
    <!-- Quartz Scheduler init: -->
    <context-param>
        <param-name>quartz:config-file</param-name>
        <param-value>/quartz.properties</param-value>
    </context-param>
    <context-param>
        <param-name>quartz:shutdown-on-unload</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>quartz:start-on-load</param-name>
        <param-value>true</param-value>
    </context-param>
    <!-- See http://www.stripesframework.org/display/stripes/Localization (bottom of the page) -->
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>StripesResources</param-value>
        <!-- huidige locale wordt hier automatisch slim achtergeplakt (_nl etc.) -->
    </context-param>
    <!-- Parameters hieronder moeten iig bij iedere deployment veranderd worden -->
    <context-param>
        <param-name>uploadDirectory</param-name>
        <param-value>/mnt/tera1/tmp/DSLtest</param-value>
    </context-param>
    <context-param>
        <param-name>expandAllDirsDirectly</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>defaultSmtpHost</param-name>
        <param-value>kmail.b3partners.nl</param-value>
    </context-param>
    <context-param>
        <param-name>defaultFromEmailAddress</param-name>
        <param-value>support@b3partners.nl</param-value>
    </context-param>
    <context-param>
        <param-name>defaultToEmailAddress</param-name>
        <param-value>support@b3partners.nl</param-value>
    </context-param>
    <context-param>
        <param-name>defaultSubject</param-name>
        <param-value>Datastorelinker proces is klaar.</param-value>
    </context-param>
</web-app>
